<%- include('../views/partials/header'); %>
<main style="height:100%;">
    <center>
        <a href="https://pulselorian.com">
            <img style="width: 40px;" src="/uploads/pulseLogo.png">
            <img style="width: 200px" src="/uploads/title.png">
            <img style="width: 50px"" src="/uploads/beskar.png">
            <p style="padding: 10px;">COMING SOON on <img style="width: 20px"" src="/uploads/bnb.png"> BSC - 1:1 Airdrop on the PulseChain Network.</p>
        </a>
        <hr style="width: 80%;"/>
        <h3>The Sacrifice Lead</h3>
        <p><img style="width: 100px"" src="/uploads/liquid.png"></p>
        <% 
            let totalSacrificed = data.map(item => item.value).reduce((prev, curr) => prev + curr, 0);

            let totalDAISacrificed = data.map(item => item.token === 'DAI' && item.value ).reduce((prev, curr) => prev + curr, 0);
            let totalUSDCSacrificed = data.map(item => item.token === 'USDC' && item.value).reduce((prev, curr) => prev + curr, 0);
            let totalUSDTSacrificed = data.map(item => item.token === 'USDT' && item.value).reduce((prev, curr) => prev + curr, 0);
            let totalBUSDSacrificed = data.map(item => item.token === 'BUSD' && item.value).reduce((prev, curr) => prev + curr, 0);
            let totalTUSDSacrificed = data.map(item => item.token === 'TUSD' && item.value).reduce((prev, curr) => prev + curr, 0);
        
        %>
        <h4 style="color: rgb(228, 201, 253);">Total Sacrificed $ <%= numeral(totalSacrificed).format('0,000.00') %></h4>
        <hr style="width: 80%;"/>
        <div class="gridWrap">
            <div class="gridCol">
                <p><img style="width: 20px;" src="/uploads/SVG-icons/usdc.svg"> USDC $ <%= numeral(totalUSDCSacrificed).format('0,000.00')  %></p>
                <p><img style="width: 20px;" src="/uploads/SVG-icons/dai.svg"> DAI $ <%= numeral(totalDAISacrificed).format('0,000.00')  %></p>
                <p><img style="width: 20px;" src="/uploads/SVG-icons/usdt.svg"> USDT $ <%= numeral(totalUSDTSacrificed).format('0,000.00')  %></p>
                <p><img style="width: 20px;" src="/uploads/SVG-icons/busd.svg"> BUSD $ <%= numeral(totalBUSDSacrificed).format('0,000.00')  %></p>
                <p><img style="width: 20px;" src="/uploads/SVG-icons/tusd.svg"> TUSD $ <%= numeral(totalTUSDSacrificed).format('0,000.00')  %></p>
            </div>
            <div class="gridCol" style="width: 250px;">
                <canvas id="pie-chart"></canvas>
            </div>
        </div>
        <br />
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script>
            new Chart(document.getElementById("pie-chart"), {
                type: 'pie',
                data: {
                labels: ["DAI", "USDC", "USDT", "BUSD", "TUSD"],
                datasets: [{
                    label: "Population (millions)",
                    backgroundColor: ["#d9d325", "#2f6deb","#1b691e","#d9a625","#230c7d"],
                    data: [<%=totalDAISacrificed%>,<%=totalUSDCSacrificed%>,<%=totalUSDTSacrificed%>,<%=totalBUSDSacrificed%>,<%=totalTUSDSacrificed%>],
                    borderColor:"ffffff",
                    borderWidth:1,
                }]
                },
                options: {
                title: {
                    display: true,
                    text: 'Sacrifice breakdown'
                },
                legend: {
                        position: 'bottom'
                    }
                }    
            });
        </script>
        <div class="dataTableContainer">
            <table id="datatable" class="display compact table table-hover table-dark table-striped table-responsive" style="width: 100%;">
                <thead>
                    <tr>
                        <!-- <th>Details</th> -->
                        <th>Address</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i=0; i < data.length; i++) { %>
                    <tr>
                        <!-- <td className="details-control" orderable="false" defaultContent="" data=null></td> -->
                        <!-- <td className="details-control" orderable="false" style="color: rgb(202, 202, 202);" data="null"></td> -->
                        <td id="<%= data[i].from %>" style="font-size: 14px;" onclick="copyToClipboard('<%= data[i].from %>')">
                            <%= data[i].from %>   
                            <a href="#" data-tooltip="copy address." class="customdata">
                                <i class="fa-solid fa-copy" style="color: grey;"></i>
                            </a>
                        </td>
                        <td style="font-weight: bold; font-size: larger;"><%= numeral(data[i].value).format("0,000.00") %></td>
                    </tr>
                
                    <% for (var j=0; j < data[i].transactions.length; j++) { %>
                        <tr>
                            <td style="color: yellow; font-size: 10px;"> 
                                <a href="https://<%= data[i].transactions[j].scansite %>.com/tx/<%= data[i].transactions[j].trasactionHash %>" data-tooltip="Transaction details" class="customdata" target="_blank">
                                    See transaction details here
                                </a>
                            </td>
                            <td style="color: yellow; font-size: 10px;"><%= new Date(data[i].transactions[j].timestamp) %></td>
                            <td style="color: yellow; font-size: 10px;"><%= numeral(data[i].transactions[j].value).format("0,000.00") %></td>
                            <td style="color: rgb(202, 202, 202);"><img style="width: 20px;" src="/uploads/SVG-icons/<%= data[i].transactions[j].token.toLowerCase() %>.svg"> <%= data[i].transactions[j].token %></td>
                        </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table> 
        </div>
        <br />
        <br /> 
        <p style="padding: 20px;">Access our <a href="/api">API</a></p>     
        <script>         
            $(document).ready(function() {
                var table = $('#datatable').DataTable({
                    "pageLength": 25,
                    "scrollY": 400,
                    "scrollX": true,
                    "order": []
                    // ,"order": [[ 1, "desc" ]]
                });

                // // Add event listener for opening and closing details
                // $('#datatable tbody').on('click', 'td.details-control', function(){
                //     var tr = $(this).closest('tr');
                //     var row = table.row( tr );

                //     if(row.child.isShown()){
                //         // This row is already open - close it
                //         row.child.hide();
                //         tr.removeClass('shown');
                //     } else {
                //         // Open this row
                //         row.child(format(row.data())).show();
                //         tr.addClass('shown');
                //     }
                // });

                // // Handle click on "Expand All" button
                // $('#btn-show-all-children').on('click', function(){
                //     // Enumerate all rows
                //     table.rows().every(function(){
                //         // If row has details collapsed
                //         if(!this.child.isShown()){
                //             // Open this row
                //             this.child(format(this.data())).show();
                //             $(this.node()).addClass('shown');
                //         }
                //     });
                // });

                // // Handle click on "Collapse All" button
                // $('#btn-hide-all-children').on('click', function(){
                //     // Enumerate all rows
                //     table.rows().every(function(){
                //         // If row has details expanded
                //         if(this.child.isShown()){
                //             // Collapse row details
                //             this.child.hide();
                //             $(this.node()).removeClass('shown');
                //         }
                //     });
                // });
            } );
           
            function copyToClipboard(id){
                var r = document.createRange();
                r.selectNode(document.getElementById(id));
                window.getSelection().removeAllRanges();
                window.getSelection().addRange(r);
                document.execCommand('copy');
                window.getSelection().removeAllRanges();
            }
        </script>
    </center>
</main>
<%- include('../views/partials/footer'); %>