<%- include('../views/partials/header'); %>
<main>
    <center>
        <img class="banner" src="/uploads/landscape.jpeg">
        <p></p>
        <h3>The Sacrifice Lead</h3>
        <p>
        <div class="dataTableContainer">
            <table id="datatable" class="display compact table table-hover table-dark table-striped table-responsive">
                <thead>
                    <tr>
                        <th>address</th>
                        <th>amount</th>
                        <th>token</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i=0; i < data.length; i++) { %>
                    <tr>
                        <td><%= data[i].from %></td>
                        <td><%= data[i].value %></td>
                        <td><%= data[i].token %></td>
                    </tr>
                    <% } %>
                </tbody>
            </table> 
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        
        <script>         
            $(document).ready(function() {
                $('#datatable').DataTable({
                    "pageLength": 10
                });
            } );
        </script>
    </center>
</main>
<%- include('../views/partials/footer'); %>