<%- include('../views/partials/header'); %>
<main style="height:100%;">
    <center>
        <a href="https://pulselorian.com">
            <img style="width: 40px;" src="/uploads/pulseLogo.png">
            <img style="width: 200px" src="/uploads/title.png">
            <img style="width: 50px"" src="/uploads/beskar.png">
            <p style="padding: 10px;">COMING SOON on <img style="width: 20px"" src="/uploads/bnb.png"> BSC - 1:1 Airdrop on the PulseChain Network.</p>
        </a>
        <hr style="width: 80%;"/>
        <h3>The Sacrifice Lead</h3>
        <p><img style="width: 100px"" src="/uploads/liquid.png"></p>
        <% 
            let totalSacrificed = data.map(item => item.value).reduce((prev, curr) => prev + curr, 0);

            let arrDAI = [];
            let arrUSDC = [];
            let arrUSDT = [];
            let arrTUSD = [];
            let arrBUSD = [];

            for (var i = 0; i < data.length; i++) {
                for (var j = 0; j < data[i].transactions.length; j++) {
                    if(data[i].transactions[j].token === 'DAI') {arrDAI.push(data[i].transactions[j].value);}
                    if(data[i].transactions[j].token === 'USDC') {arrUSDC.push(data[i].transactions[j].value);}
                    if(data[i].transactions[j].token === 'USDT') {arrUSDT.push(data[i].transactions[j].value);}
                    if(data[i].transactions[j].token === 'TUSD') {arrTUSD.push(data[i].transactions[j].value);}
                    if(data[i].transactions[j].token === 'BUSD') {arrBUSD.push(data[i].transactions[j].value);}
                }
            }

            let ttDAI = _.sum(arrDAI);
            let ttUSDC = _.sum(arrUSDC);
            let ttUSDT = _.sum(arrUSDT);
            let ttTUSD = _.sum(arrTUSD);
            let ttBUSD = _.sum(arrBUSD);


        
        %>
        <h4 style="color: rgb(228, 201, 253);">Total Sacrificed $ <%= numeral(totalSacrificed).format('0,000.00') %></h4>
        <hr style="width: 80%;"/>
        <div class="gridWrap">
            <div class="gridCol">
                <p><img style="width: 20px;" src="/uploads/SVG-icons/usdc.svg"> $ <%= numeral(ttUSDC).format('0,000.00')  %></p>
                <p><img style="width: 20px;" src="/uploads/SVG-icons/dai.svg"> $ <%= numeral(ttDAI).format('0,000.00')  %></p>
                <p><img style="width: 20px;" src="/uploads/SVG-icons/usdt.svg"> $ <%= numeral(ttUSDT).format('0,000.00')  %></p>
                <p><img style="width: 20px;" src="/uploads/SVG-icons/busd.svg"> $ <%= numeral(ttBUSD).format('0,000.00')  %></p>
                <p><img style="width: 20px;" src="/uploads/SVG-icons/tusd.svg"> $ <%= numeral(ttTUSD).format('0,000.00')  %></p>
            </div>
            <div class="gridCol" style="width: 250px;">
                <canvas id="pie-chart"></canvas>
            </div>
        </div>
        <br />
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script>
            new Chart(document.getElementById("pie-chart"), {
                type: 'pie',
                data: {
                labels: ["DAI", "USDC", "USDT", "BUSD", "TUSD"],
                datasets: [{
                    label: "Sacrifice Breakdown by Tokens",
                    backgroundColor: ["#d9d325", "#2f6deb","#1b691e","#d9a625","#230c7d"],
                    data: [<%=ttDAI%>,<%=ttUSDC%>,<%=ttUSDT%>,<%=ttBUSD%>,<%=ttTUSD%>],
                    borderColor:"ffffff",
                    borderWidth:1,
                }]
                },
                options: {
                title: {
                    display: true,
                    text: 'Sacrifice breakdown'
                },
                legend: {
                        position: 'bottom'
                    }
                }    
            });
        </script>
        <div class="dataTableContainer">
            <table id="datatable" class="display compact table table-hover table-dark table-responsive" style="width:100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>from</th>
                        <th>amount</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th>from</th>
                        <th>amount</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <br />
        <br />
        
        
        <p style="padding: 20px;">Access our <a href="/api">API</a></p>   
        <script>         
        
            function copyToClipboard(id){
                var r = document.createRange();
                r.selectNode(document.getElementById(id));
                window.getSelection().removeAllRanges();
                window.getSelection().addRange(r);
                document.execCommand('copy');
                window.getSelection().removeAllRanges();
            }

            $(document).ready(function () {
            var table = $('#datatable').DataTable({
                "ajax": "/data.txt",
                select: "single",
                "columns": [
                    {
                        "className": 'details-control',
                        "orderable": false,
                        "data": null,
                        "defaultContent": '',
                        "render": function () {
                            return '<i class="fa fa-plus-square" aria-hidden="true"></i>';
                        },
                        width: "15px"
                    },
                    { "data": "from" },
                    { "data": "value" }
                ],
                "pageLength": 25,
                "scrollY": 400,
                "scrollX": true,
                "order": [[ 2, "desc" ]]
            });
            // Add event listener for opening and closing details
            $('#datatable tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var tdi = tr.find("i.fa");
                var row = table.row(tr);
                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                    tdi.first().removeClass('fa-minus-square');
                    tdi.first().addClass('fa-plus-square');
                }
                else {
                    // Open this row
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                    tdi.first().removeClass('fa-plus-square');
                    tdi.first().addClass('fa-minus-square');
                }
            });
            table.on("user-select", function (e, dt, type, cell, originalEvent) {
                if ($(cell.node()).hasClass("details-control")) {
                    e.preventDefault();
                }
            });
        });
        function format(d) {
            let res = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px; box-shadow: 1px 1px 10px 5px rgb(70, 67, 75);">';
            for (var i = 0; i < d.transactions.length; i++) {
                res += '<tr><td>Transaction date:</td><td>';
                res += new Date(d.transactions[i].timestamp);
                res += '</td></tr><tr><td>Amount:</td><td> <a href= "https://' + d.transactions[i].scansite + '.com/tx/' + d.transactions[i].trasactionHash + '" target = "_blank" >';
                res += numeral(d.transactions[i].value).format('0,000.00');
                res += '</a></td></tr><tr><td>Token:</td><td>';
                res += '<img width="16px"; src="/uploads/SVG-icons/' + d.transactions[i].token.toLowerCase() +  '.svg"> ' + d.transactions[i].token;
                res += '</td></tr>';
            };
            res += '</table>';
            // `d` is the original data object for the row
            return res;
        }

    </script>
    </center>
</main>
<%- include('../views/partials/footer'); %>